[Unit]
Description=Git Semaphore monitor
After=network.target

[Service]
Type=simple
Environment=HOME=%h
ExecStart=%h/git-semaphore/git-semaphore
Restart=on-failure

[Install]
WantedBy=default.target
